.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  color: #61dafb;
}

.column-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 12.5px;
}

.column {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 12.5px;
  background-color: lightgray;
}

.column-header {
  background-color: gray;
  height: 30px;
}

.card {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
