.App {
  text-align: center;
}

button {
  color: #61dafb;
}

.delete-button {
  color: white;
  background-color: darkred;
  font-size: x-small;
}

.column-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 12.5px;
}

.column {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 12.5px;
  background-color: lightgray;
  height: fit-content;
}

.column-header {
  background-color: gray;
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 5px;
}

.task-date {
  font-size: x-small;
  text-align: end;
}

.task-details {
  display: flex;
  flex-direction: column;
}

#lavender-header {
  background-color: mediumpurple;
}

#teal-header {
  background-color: teal;
}

#orange-header {
  background-color: orange;
}

#navy-header {
  background-color: navy;
}
